<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href=""><h1>Office Display</h1></a>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <!--Add more here maybe-->
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="ml-1">Welcome!</h1>
            <p class="lead mb-5 ml-1">
                Hello <strong><%= name %></strong>, how are you doing today?
            </p>
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <h5>Message Currently Displayed at your Office:</h5>
                    </div>
                    <div class="card-body">
                        <h3>
                            <small class="text-muted"><%= latestMessage %></small>
                        </h3>
                    </div>
            </div>
            <a href="/users/logout" class="btn btn-secondary">Logout</a>
        </div>
        <div class="col-7">
            <form action="/dashboard/message" method="POST">
                <fieldset>
                    <legend>Send New Message to Display</legend>
                    <div class="form-group">
                        <textarea
                            class="form-control"
                            id="message"
                            name="message"
                            rows="3"
                            placeholder="Write your message here"
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block mb-3">
                        Update Display
                    </button>
                </fieldset>
            </form>
            <ul class="list-group mt-2 mb-2">
                <li class="list-group-item list-group-item-secondary">
                    <strong>Recent Messages You've Sent</strong>
                </li>
                <% messages.slice(1).forEach(message => { %>
                <li class="list-group-item">
                    <form
                        action="/dashboard/message/update"
                        method="POST"
                        class="d-inline"
                    >
                        <input
                            type="hidden"
                            value="<%= message._id %>"
                            name="msgToUpdate"
                        />
                        <button
                            class="btn btn-primary btn-sm mr-5"
                            type="submit"
                        >
                            Send To Display
                        </button>
                    </form>
                    <%= message.message %>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
